name: Build and Deploy to Cloud Run
on:
    push:
        branches:
            - main

env:
    PROJECT_ID: usenglish
    REGION: us-central1
    SERVICE_NAME: go-api

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        env:
            IMAGE: gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # Opção A: se você usou Workload Identity (recomendado)
            - name: Authenticate to GCP (OIDC)
              uses: google-github-actions/auth@v1
              with:
                  workload_identity_provider: "projects/1037272987699/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
                  service_account: "github-actions-sa@${{ env.PROJECT_ID }}.iam.gserviceaccount.com"

            - name: Setup gcloud
              uses: google-github-actions/setup-gcloud@v1
              with:
                  project_id: ${{ env.PROJECT_ID }}

            - name: Build and push image to Container Registry
              run: |
                  gcloud builds submit --tag "${{ env.IMAGE }}"

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v1
              with:
                  service: ${{ env.SERVICE_NAME }}
                  image: ${{ env.IMAGE }}
                  region: ${{ env.REGION }}
                  allow-unauthenticated: true
