name: Build and Deploy to Cloud Run
on:
    push:
        branches:
            - main

env:
    REGION: us-central1
    SERVICE_NAME: go-test-api
    INGRESS: all
    KEEP_IMAGES: 1 # Número de imagens recentes para manter (1 = apenas a última)

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Authenticate to GCP (OIDC)
              uses: google-github-actions/auth@v2
              with:
                  workload_identity_provider: "projects/1037272987699/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
                  service_account: "github-actions-sa@usenglish.iam.gserviceaccount.com"

            - name: Setup gcloud SDK
              uses: google-github-actions/setup-gcloud@v2

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v2
              with:
                  service: ${{ env.SERVICE_NAME }}
                  source: .
                  region: ${{ env.REGION }}
                  allow-unauthenticated: true
                  ingress: ${{ env.INGRESS }}
